.collapsible {
  background-color: #444;
  color: white;
  cursor: pointer;
  padding: 12px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  border-radius: 6px;
  margin-bottom: 5px;
  transition: background-color 0.2s ease;
}

.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #222;
  border-left: 2px solid #555;
  border-radius: 4px;
  color: white;
}

.content p, .content a {
  margin: 12px 0;
}